 <div class="user-details">
  <h2> My Skills </h2>
  <p> {{site.user_description}} </p>
</div>
  <div class="user" style="display: flex;width:100%;">
    <div class="tech" style="flex-basis: 100%">
      <h2>Frameworks/Tools</h2>
      <!--i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i-->
      <p>MySQL, SQL Server, AWS,
        <br>EC2, Apache Spark, Hadoop</p>
    </div>
    <div class="tech" style="flex-basis: 100%">
      <h2>Programming Language</h2>
      <!--i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i-->
      <p>Python, VBA,
        <br>Java, C++, C#</p>
    </div>
    <div class="tech" style="flex-basis: 100%">
      <h2>Analytics Tools</h2>
      <!--i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i-->
      <p>Tableau, Google Analytics,
        <br>MS Excel, MS Access</p>
    </div>
</div>
