 <div class="user-details">
  <h2> My Skills </h2>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Frameworks/Tools</h2>
      <!--i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i-->
      <p>mysql, SQL Server, AWS EC2,
        <br>AWS ML, Apache Spark, Hadoop</p>
    </div>
    <div class="tech">
      <h2>Programming Language</h2>
      <!--i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i-->
      <p>Python, Java, C++,
        <br>C#, Perl, Prolog</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <!--i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i-->
      <p>Pandas, NumPy, Scikit-learn,
        <br>TensorFlow, OpenCV, SciPy,
        <br>Matplotlib, Seaborn, NLTK</p>
    </div>
</div>
