<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="contents">
    <h3>Bank Loan Prediction</h3>
    <ul>
      <li>Data Cleansing, Random Forest, Classification</li>
    </ul>
    <p>The objective of this project was to predict and give recommendation whether or not the loan should be granted based on data. In this project, the data will be cleaned and prepped, and a model will be build to acheive accuracy.</p>
    <a class="project-link" href="https://pywang128.github.io/docs/Bank_Loan_Prediction.html">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="contents">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="docs/Bank_Loan_Prediction.html">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="contents">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="contents">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
